* {
  margin: 0;
  padding: 0;
}
body { 
  font-family: serif;
}

.App {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.imagelogo{
  width: 100%;
  padding-top: 20px;
  background-color:#BADFD7 ;
  display: flex;
  justify-content: center;
}
.App form{
  height: auto;
  width: 100%;
  background-color: #BADFD7;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  align-items: center;
  justify-content: center;
}

.inputDiv{
  margin: 10px;
  height: 30px;
}

label{
  font-size: 24px;
  margin: 10px;
}

.searchInput {
  width: 300px;
  height: 30px;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}

.container{
  width: 100%;
  height: auto;
  background-image: url("https://images.unsplash.com/photo-1512950050685-b1d4ae63d2df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.noData{
  height: 100vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1512950050685-b1d4ae63d2df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.card{
  width: 250px;
  height: 400px;
  box-shadow: 0px 2px 2px;
  background-color: white;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  
}

.card-title{
  font-size: 23px;
}

@media screen and (max-width: 800){
  .App {
    
    width: 80%;
    
  }
}
